body{
    background-color: #774936;
}
.btn{
    width: 100%;
    background-color: #9d6b53;
    border: none;
    color: #ffffff;
    margin: 5px;
    padding: 10px;
}
.nextBtn{
    width: 200px;
    background-color: #9d6b53;
    border: none;
    color: #ffffff;
    margin: 5px;
    padding: 10px;
}